<h2 mat-dialog-title>Dialog with elements</h2>
<div mat-dialog-content>
  <p class="do-you-really-want-t">Do you really want to delete these list?</p>
</div>
<div mat-dialog-actions>
  <div class="button-group">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-raised-button mat-dialog-close  (click)="onDeleteTag();" color="warn" >Delete</button>
  </div>
</div>
