h2{
  border-bottom: 1px solid #a1a9b2;
}

.do-you-really-want-t {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #727880;
}

.button-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 10px;
}
