<div class="section-header">
  <div class="tag-list">
    <mat-icon aria-label="content_copy">content_copy</mat-icon>
    <h2>Tag List</h2>
  </div>
  <div>
    <button mat-button style="background: white" routerLink="/admin/tag/create">
      <mat-icon aria-label="add">add</mat-icon>
      New Tag
    </button>
  </div>
</div>
<app-tab-language #languageComponent>
  <div class="example-container">
    <table mat-table [dataSource]="dataSource" style="width: 100%;">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell class="w-75 center" *matHeaderCellDef> </th>
        <td mat-cell class="center" *matCellDef="let tag; let i = index">{{i + 1}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th class="search-container" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search-field" appearance="outline">
            <mat-label>Axtar</mat-label>
            <input matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let tag" style="display: flex; align-items: center">
          <img src="{{imageUrl + tag.media?.path + '/' + tag.media?.name}}" alt="{{tag.media?.name}}"
               width="50">
            <span>
              {{tag.locales[languageComponent.activeLanguage]?.title}}
            </span>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tagType">
        <th class="search-container" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search-field" appearance="outline">
            <mat-label>Axtar</mat-label>
            <input matInput >
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let tag"> {{tag.tag_type.name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="storeCount">
        <th class="search-container" mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search-field" appearance="outline">
            <mat-label>Axtar</mat-label>
            <input matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let tag"> {{tag.applied_branches_count}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th class="w-75 center" mat-header-cell *matHeaderCellDef> </th>
        <td class="center" mat-cell *matCellDef="let tag">
          <mat-slide-toggle
            (change)="statusChange(tag.id, tag.status)"
            color="primary" [checked]="tag.status == 1"
          ></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell class="w-75 center" *matHeaderCellDef></th>
        <td mat-cell class="w-75 center" *matCellDef="let tag">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="more_horiz">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="action">
            <button mat-menu-item routerLink="/admin/tag/edit/{{tag.id}}">Edit</button>
            <button mat-menu-item (click)="openDeleteDialog(tag)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>


      <!-- Header row  group -->
      <ng-container matColumnDef="header-row-1-group">
        <th class="heading" mat-header-cell *matHeaderCellDef
            [attr.colspan]="1">
          №
        </th>
      </ng-container>

      <!-- Header row group -->
      <ng-container matColumnDef="header-row-2-group">
        <th class="heading" mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Tag Name </th>
      </ng-container>
      <ng-container matColumnDef="header-row-3-group">
        <th class="heading" mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Tag Type</th>
      </ng-container>
      <ng-container matColumnDef="header-row-4-group">
        <th class="heading" mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Store Count</th>
      </ng-container>
      <ng-container matColumnDef="header-row-5-group">
        <th class="heading" mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Status</th>
      </ng-container>
      <ng-container matColumnDef="header-row-6-group">
        <th class="heading" mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
      </ng-container>
      <tr mat-header-row
          *matHeaderRowDef="['header-row-1-group', 'header-row-2-group',
          'header-row-3-group', 'header-row-4-group',
          'header-row-5-group', 'header-row-6-group']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <button
      mat-raised-button
      color="primary"
      style="width: 100%;"
      [disabled]="response?.content.total <= response?.content.data.length"
      (click)="getTags(6)"
    >
      {{'Load More' | titlecase}}
    </button>
  </div>
</app-tab-language>


