td.mat-cell{
  border: 1px solid rgba(227, 226, 226, 0.99);
  padding: 20px !important;
}

td{
  border: 1px solid rgba(227, 226, 226, 0.99);
}

.heading{
  padding: 20px !important;
}

th{
  border: 1px solid rgba(227, 226, 226, 0.99);
  font-size: 16px;
  color: black;
}



.mat-row:nth-child(even){
  background-color:#ecf0f7;
}

.mat-row:nth-child(odd){
  background-color:white;
}
.w-75{
  width: 30px;
}

.w-100{
  width: 100px;
}

.center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}

.example-container{
  padding: 30px;
}

.mat-menu-item:hover{
  background: #0C6DD7;
  color: white;
}
.mat-menu-panel{
  padding: 0;
}

.example-container>button{
  margin-top: 30px;
}
.search-field{
  width: 90%;
}

.search-container{
  text-align: center;
  padding-top: 1.34375em;
}
