<div class="form-container">
  <div class="oval">
    <div class="inner-oval"></div>
  </div>
  <h1 class="welcome-to-Fooderos">Welcome to Fooderos</h1>
  <p class="please-enter-your-ph">Please enter your phone number and Log in</p>
  <div class="example-container" style="width: 100%">
    <div style="display: flex;">
      <mat-form-field appearance="outline" style="width: 20%">
        <mat-label>Code</mat-label>
        <mat-select>
          <mat-option value="+994">+994</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="phone-field" style="width: 80%">
        <mat-label>Phone number</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <button mat-raised-button class="btn-block" >Log In</button>
  </div>
  <div>
    <p class="by-signing-in-you-ag">By signing in you agree with <a class="terms-and-Conditions">Terms and Conditions</a></p>
  </div>
</div>


