<div class="container">
  <div class="col">
    <div class="triangle-container">
      <div class="triangle"></div>
      <div class="trapezoid"></div>
      <div class="new triangle-container"></div>
    </div>
  </div>
  <div class="col">
    <div class="form-container">
      <div class="oval">
        <div class="inner-oval"></div>
      </div>
      <form [formGroup]="form" (ngSubmit)="sendPhoneNumber()" class="phone" *ngIf="!isVerification">
        <h1 class="welcome-to-Fooderos">Welcome to Fooderos</h1>
        <p class="please-enter-your-ph">Please enter your phone number and Log in</p>
        <div class="example-container" style="width: 100%">
          <div style="display: flex;">
            <mat-form-field appearance="outline" style="width: 20%">
              <mat-label>Code</mat-label>
              <mat-select formControlName="country_id">
                <mat-option [value]="country.id" *ngFor="let country of countries">+{{country.phone_code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="phone-field" style="width: 80%">
              <mat-label>Phone number</mat-label>
              <input matInput type="number" formControlName="phone">
            </mat-form-field>
          </div>
          <div class="validation" *ngIf="_phone.invalid">
            <div *ngIf="_phone.errors?.pattern">

            </div>
          </div>
          <button type="submit" mat-raised-button class="btn-block">Log In</button>
        </div>
        <div>
          <p class="by-signing-in-you-ag">By signing in you agree with <a class="terms-and-Conditions">Terms and
            Conditions</a></p>
        </div>
      </form>
      <form *ngIf="isVerification" [formGroup]="securityForm" (ngSubmit)="sendSecurityCodeLogin()">
        <h1 class="welcome-to-Fooderos">Verification</h1>
        <p class="please-enter-your-ph">
          Dear, {{adminName}} please enter your verification code <br>
          which sent to <span style="color: #0371e8"> + {{phoneCode}} {{adminPhoneNumber}}</span>
        </p>
        <div class="example-container" style="width: 100%">
          <div style="display: flex;">
            <mat-form-field appearance="outline" class="phone-field" style="width: 100%; margin: 0">
              <mat-label>Security Code</mat-label>
              <input matInput type="number" formControlName="otp">
            </mat-form-field>
          </div>
          <span *ngIf="isRemoveCounter" class="expired">Verification code expired. Try to resend</span>
          <div class="expire-security-code">
          <span *ngIf="!isSuccessLogin && !isRemoveCounter">
            <span class="text">Code expires in: </span>
            <span class="expire-counter">{{counter | formatTime}}</span>
          </span>

          </div>
          <button type="submit" [disabled]="isRemoveCounter" mat-raised-button class="btn-block">Continue</button>
          <p class="receive">Didn’t receive a code?<a (click)="countDownTimer()">Resend</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

