<mat-tab-group (selectedTabChange)="tabChange($event)" >
  <mat-tab label="{{language}}" *ngFor="let language of languages">
  </mat-tab>
</mat-tab-group>
<ng-content *ngFor="let language of languages">
</ng-content>
