<div class="custom-dropzone" style="width: 162px" ngx-dropzone [accept]="'image/*'"
     (change)="onSelect($event)">
  <ngx-dropzone-label *ngIf="isSelect">
    <div>
      <label class="file">
        Added to File
      </label>
      <br><br>
      <small>
        or drop file
        to upload
      </small>
    </div>
  </ngx-dropzone-label>
    <ngx-dropzone-label *ngIf="!isSelect" (click)="onRemove($event)" >
      <img width="120" [src]="img" alt="">
    </ngx-dropzone-label>
</div>
