<app-nav-bar (click)="sidebar.closeSidenav()"></app-nav-bar>
<mat-drawer-container
  class="example-container"
  style="height: 100%"
>
  <mat-drawer
    #drawer mode="side"
    [class.menu-open]="isOpen"
    [class.menu-close]="!isOpen"
    opened
  >
    <app-sidebar
      #sidebar
      [isOpen]="isOpen"
      (openSidebar)="openSidenav()"
      (closeSidebar)="closeSidenav()"
    ></app-sidebar>
  </mat-drawer>
  <mat-drawer-content
    [class.mat-content-margin]="isOpen"
    (click)="sidebar.closeSidenav()"
  >
    <div style="width: 100%">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
