<form [formGroup]="tagCreateForm" (ngSubmit)="updateTag()">
  <div class="section-header">
    <div class="tag-list" routerLink="/admin/tag" style="cursor: pointer">
      <mat-icon
        aria-label="arrow_back"
        style="display: inline-block;margin-top: 5px;"
      >
        arrow_back
      </mat-icon>
      <h2>New Tag</h2>
    </div>
    <div>
      <button [disabled]="tagCreateForm.invalid" type="submit" mat-button style="background: white">
        Save
      </button>
    </div>
  </div>
  <app-tab-language #languageComponent>
    <div class="example-container" style="padding: 50px">
      <mat-card>
        <h2> {{tagId ? 'Update Tag' : 'Add New Tag' }} </h2>
      </mat-card>
      <mat-card>
        <div mat-card-image>
        </div>
        <mat-card-content>
          <app-cropper #cropper [file]="dropzone.files[0]"></app-cropper>
          <div class="container">
            <img width="150" *ngIf="tag" [src]="imgUrl + tag.media?.path + '/' + tag.media?.name" alt="">
            <app-dropzone #dropzone [img]="cropper.croppedImage"></app-dropzone>
            <ng-container *ngFor="let name of names.controls;let i = index" formArrayName="names">
              <mat-form-field *ngIf="languageComponent.activeLangIndex === i" class="example-full-width"
                              appearance="outline">
                <mat-label>Tag Name</mat-label>
                <input matInput [formControlName]="languageComponent.activeLangIndex" [errorStateMatcher]="matcher" (change)="nameChange(i)">
                <mat-error *ngIf="names.controls[i].hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>
            <mat-form-field appearance="outline">
              <mat-label>Favorite food</mat-label>
              <mat-select *ngIf="tag" formControlName="tagType" [(ngModel)]="tag.tag_type_id">
                <mat-option *ngFor="let tagType of tagTypes" [value]="tagType.id">
                  {{tagType.name}}
                </mat-option>
              </mat-select>
              <mat-select *ngIf="tag == null" formControlName="tagType">
                <mat-option *ngFor="let tagType of tagTypes" [value]="tagType.id">
                  {{tagType.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="type.hasError('required')">Please choose a type</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </app-tab-language>
</form>




