<mat-accordion>
  <!-- #docregion basic-panel -->
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    hideToggle
    (opened)="openSidenav()"
    routerLink="/admin/home"
  >
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon
          aria-label="border_all"
        >border_all
        </mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    hideToggle
    (opened)="openSidenav()"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icon/orders-icon%20.svg" alt="">
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!-- #enddocregion hide-toggle -->
  <mat-expansion-panel
    (opened)="openSidenav()"
    hideToggle
  >
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title routerLinkActive="active">
        <mat-icon
          aria-label="content_copy"
          routerLinkActive="active"
        >
          content_copy
        </mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list class="sidebar-list">
      <mat-list-item routerLink="/admin/tag">
        Restoranlar
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/admin/tag">
        Sirniyyat evi
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/admin/tag">
        Market
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    (opened)="openSidenav()"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icon/shape.svg" alt="">
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    (opened)="openSidenav()"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icon/restaurant-icon.svg" alt="">
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    hideToggle
    (opened)="openSidenav()"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icon/users-icon.svg" alt="">
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    (opened)="openSidenav()"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icon/review-icon.svg" alt="">
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    (opened)="openSidenav()"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icon/campaign-icon.svg" alt="">
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel
    (opened)="openSidenav()"
    hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icon/map-icon.svg" alt="">
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="openSidenav()"
    (closed)="closeSidenav()"
    hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div >
          <mat-icon aria-label="east" *ngIf="!isOpen">east</mat-icon>
          <mat-icon aria-label="west" *ngIf="isOpen">west</mat-icon>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
