.mat-list-item{
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.mat-icon{
  color: grey;
}

.active{
  background: #0C6DD7;
  color: white !important;
  padding: 2px;
  border-radius: 5px;
}

.mat-expansion-panel-spacing{
  margin: 0 !important;
}


