<mat-toolbar>
  <div class="rectangle" (click)="sidenavStateChange()"></div>
  <span>Super Admin</span>
  <span class="example-spacer"></span>
  <mat-list class="inline-list">
    <mat-list-item>
      <span class="online">Online</span>
      <mat-slide-toggle color="primary"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item>
      <mat-icon
        class="notification-icon"
        aria-hidden="false"
        matBadge="1"
        matBadgeSize="small"
        matBadgeColor="primary"
        aria-label="Example notifications_none icon"
      >notifications_none
      </mat-icon>
    </mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item>
      <span class="dropdown-navbar" [matMenuTriggerFor]="menu">
        <span>John Doe</span>
        <mat-icon aria-label="expand_more">
          expand_more
        </mat-icon>
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </mat-list-item>
  </mat-list>

</mat-toolbar>
