.rectangle {
  width: 40px;
  height: 40px;
  background-color: #1063fb;
  margin-right: 40px;
}
.example-spacer {
  flex: 1 1 auto;
}
.inline-list{
  display: flex;
}

.online{
  padding-right: 10px;
}

.notification-icon{
  font-size: 28px;
}

.dropdown-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(152, 218, 152);
}
